{% extends 'base.html.twig' %}

{% block title %}Aanmelden!{% endblock %}

{% block body %}
<form method="post" class="logon">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            U bent aangemeld als {{ app.user.username }}, <a href="{{ path('app_logout') }}">afmelden</a>
        </div>
    {% endif %}

    <h1 class="title">Gelieve aan te melden</h1>
    <label for="inputUsername">Gebruiker</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input" required autofocus>
    <label for="inputPassword">Wachtwoord</label>
    <input type="password" name="password" id="inputPassword" class="input" required>
    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
    <label for="remember_me">Aangemeld blijven</label>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="buttons">
        <button class="button" type="submit">Aanmelden</button>
    </div>
</form>
{% endblock %}
