{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.css">
{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('csv') }}" class="button">CSV Downloaden...</a>
        <a href="{{ path('logout') }}" class="button">Afmelden</a>
    </div>
    <table id="datatable">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>Model</th>
                <th>MAC Adres</th>
                <th>Wifi MAC Adres</th>
                <th>Serienummer</th>
                <th>Processor</th>
                <th>RAM</th>
                <th>SSD/HDD</th>
                <th>Opslagruimte</th>
                <th>OS Versie</th>
                <th>Installatiedatum</th>
                <th>Registratiedatum</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
                <tr>
                    <td>{{ computer.hostName }}</td>
                    <td>{{ computer.model }}</td>
                    <td>{{ computer.macAddress }}</td>
                    <td>{{ computer.wifiMacAddress }}</td>
                    <td>{{ computer.serialNumber }}</td>
                    <td>{{ computer.processor }}</td>
                    <td>{{ computer.ramSize }}</td>
                    <td>{{ computer.mediaType }}</td>
                    <td>{{ computer.diskSize }}</td>
                    <td>{{ computer.osVersion }}</td>
                    <td>{{ computer.installDate ? computer.installDate|date('Y/m/d H:i:s') }}</td>
                    <td>{{ computer.queryDate|date('Y/m/d H:i:s') }}</td>
                    <td><a onclick="if (confirm('Wilt u deze computer verwijderen?')) { document.getElementById('deleteId').value={{ computer.id }}; document.getElementById('deleteForm').submit() } else return false" href="#" class="icon-bin"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <form style="display: none" action="{{ path('delete') }}" method="POST" id="deleteForm">
        <input name="id" type="hidden" id="deleteId" value="">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#datatable').dynatable();
            var dynatable = $('#datatable').data('dynatable');
            dynatable.paginationPerPage.set(100); // Show 20 records per page
        })
    </script>
{% endblock %}